<%# test/dummy/app/views/welcome/index.html.erb %>
<h1>Welcome to Rubypress</h1>
<div>Things you can do:
  <%= link_to "Home Page", root_url %><br>
  <%= link_to "Add New Page", rubypress.new_page_path %><br>
  <%= link_to "List Pages", rubypress.pages_path %><br>
</ul>
</div>




