<%# test/dummy/app/views/welcome/index.html.erb %>
<h1>Welcome to Rubypress</h1>
<div>Things you can do:
<ul>
  <li><%= link_to "Home Page", root_url %></li>
  <li><%= link_to "Add New Page", rubypress.new_page_path %></li>
  <li><%= link_to "Pages", rubypress.pages_path %></li>
</ul>
</div>


